{% extends 'base.html' %}

{% block title %}Add Student{% endblock %}

{% block content %}

<style>
    .card {
        max-width:550px;
        margin:auto;
        margin-top:40px;
        padding:25px;
        border-radius:12px;
        background:white;
        box-shadow:0 4px 12px rgba(0,0,0,0.1);
    }

    .table-container {
        max-width:850px;
        margin:40px auto;
        padding:20px;
        background:white;
        border-radius:12px;
        box-shadow:0 4px 12px rgba(0,0,0,0.08);
    }
</style>

<div class="card">
    <h2 class="text-center mb-4">👨‍🎓 Add Student</h2>

    <form method="post">
        {% csrf_token %}

        <label class="form-label">Student Name</label>
        <input type="text" name="name" class="form-control mb-3" required>

        <label class="form-label">Roll Number</label>
        <input type="text" name="roll_number" class="form-control mb-3" required>

        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control mb-3">

        <button class="btn btn-primary w-100">Add Student</button>
    </form>
</div>

{% if students %}
<div class="table-container">
    <h3 class="text-center mb-4">📋 Student List</h3>

    <table class="table table-bordered table-hover text-center">
        <thead class="table-success">
            <tr>
                <th>Name</th>
                <th>Roll No</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s.name }}</td>
                <td>{{ s.roll_number }}</td>
                <td>{{ s.email }}</td>
                <td>
                    <a href="{% url 'delete_student' s.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
