{% extends "base.html" %}

{% block title %}Student List{% endblock %}

{% block content %}
<div class="container-box">

    <div class="text-center mb-4">
        <div class="title-icon">📋</div>
        <h2 class="fw-bold">Student List</h2>
        <p class="text-muted">All registered students</p>
    </div>

    <div class="text-start">
        <a href="/students/add_student/" class="btn btn-primary btn-back">⬅ Back to Add Student</a>
    </div>

    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr class="table-success">
                <th>Name</th>
                <th>Roll Number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s.name }}</td>
                <td>{{ s.roll_number }}</td>
                <td>{{ s.email }}</td>
                <td>
                    <a href="/students/delete/{{ s.id }}/" class="btn btn-danger btn-sm">
                        Delete
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No students added yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
